body{
	/* background-color:#f4f4f2; */
	background: #fff url(../images/bg.jpg) repeat top left;
}

#container{
	background-color:#feffff;
	margin-left:50px;
	margin-right:50px;
	
	
}
#header{
	background-color:#292c2f;
	height:75px;
	color:#feffff;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	padding: 5px 5px 25px 20px;
	
	text-transform:uppercase;
}

#footer{
	clear:both;
	background-color: #292c2f;
	color: #fff;
	font-family:arial;
	text-align: right;
	padding: 10px;
	text-transform:uppercase;
}

#main{
	font-family:verdana;
	background-color:#feffff;
	color:#3c3c3c;
	padding-left:10px;
	padding-right:10px;
}

#slider{
	width:1000px;
	height:400px;
	overflow:hidden;
	margin:30px auto;
}

#slider > img{
	width:1000px;
	height:400px;
	float:left;
	display:none;
}
#nav{
	width:800px;
	padding-left:10px;
	position:center;
	background-color:#feffff;
}
.cf:before,
.cf:after{
	content:" ";
	display:table;
}

.cf:after{
	clear:both;
}

.cf{
	*zoom:1;
}

.menu,
	.submenu{
		margin:0;
		padding:0;
		list-style:none;
	}
	
/* Main Level */

.menu{
	margin: auto auto;
	width:900px;
	
}

.menu > li{
	background:#0b99bc;
	float:left;
	position:relative;
	transform:skewX(25deg);
}

.menu a{
	display:block;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-family:Arial,Helvetica;
	font-size:14px;
}

.menu li:hover{
	background:#d40e52;
}

.menu > li > a{
	transform:skewX(-25deg);
	padding:1em 2em;
}

/* Dropdown level*/
.submenu {
    position: absolute;
    width: 200px;
    left: 50%; margin-left: -100px;
    transform: skewX(-25deg);
    transform-origin: left top;
}

.submenu li {
    background-color: #0b99bc;
    position: relative;
    overflow: hidden;       
}                        

.submenu > li > a {
    padding: 1em 2em;            
}

.submenu > li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;            
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);           
}        

/* Odd stuff */
.submenu > li:nth-child(odd){
    transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
    transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
    right: -50%;
    transform: skewX(-25deg) rotate(3deg);
}                

/* Even stuff */
.submenu > li:nth-child(even){
    transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
    transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
    opacity: 0;
    visibility: hidden;         
}

.submenu li {
    transition: .2s ease-out transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}        

.menu > li:hover .submenu li:nth-child(even){
    transform: skewX(25deg) translateX(15px);          
}

.menu > li:hover .submenu li:nth-child(odd){
    transform: skewX(-25deg) translateX(-15px);            
}

#link{
	clear: both;
	float:right;
}

#nav #currentpage a {
background: #d40e52;
color: #fff;
}